@import '../../Styles/index.scss';

.collapse-container {
	display: flex;
	flex-direction: column;
	width: 70%;
	margin: 1rem auto;
	align-items: center;
	padding: 0; /* Ajouté pour éviter les décalages de padding */

	.collapse-item {
		width: 100%; /* Assurez que chaque item utilise toute la largeur disponible */
	}
}

@media screen and (max-width: 550px) {
	.collapse-container {
		padding: 1rem;
		width: 100%;
	}
}
