@import '../../Styles/index.scss';

.rating {
    img {
        width: 24px;
        height: 24px;
        margin-right: 5px;
    }

    @media screen and (max-width: 550px) {
        img {
            width: 12px;
            height: 12px;
            margin-right: 5px;
        }
    }
}
