@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$color-primary: #FF6060;
$grey-light-bg: #F6F6F6;
$white: #FFFFFF;

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: large;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

body {
    max-width: 1440px;
    padding-top: 40px;
    margin: 0 auto;

    @media screen and (max-width: 500px) {
        padding-top: 20px;
    }
}

.gallery {
    border-radius: 25px;
    background: $grey-light-bg;
    padding: 50px;
    gap: 50px;
    height: auto;
    margin: 1rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (max-width: 1230px) {
        gap: 25px;
        padding: 25px;
    }

    @media screen and (max-width: 550px) {
        margin: auto;
        padding: 20px;
        background: $white;
    }
}
