@import '../../Styles/index.scss';

.collapse {
	width: 100%;
	display: flex;
	flex-direction: column;

	&__title {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin-top: 10px;
		padding: 10px 20px 10px 15px;
		border-radius: 5px;
		width: 100%;
		background: $color-primary;
		color: $white;
		cursor: pointer;
	}

	&__icon {
		width: 32px;
		height: 32px;
		transform: rotate(0deg);
		transition: transform 0.3s ease-in-out;
	}

	&__content {
		width: 100%;
		visibility: hidden;
		height: 0;
		opacity: 0;
		background: $grey-light-bg;
		padding: 0 20px;
		color: var(--red, $color-primary);
		transform: translateY(-10px);
		transition: transform 0.3s ease-in-out, visibility 0s 0.3s, height 0s 0.3s, opacity 0.3s, padding 0.3s;
	}

	&.active > .collapse__content {
		visibility: visible;
		height: auto;
		opacity: 1;
		padding: 10px 20px;
		transform: translateY(0);
		color: black;
		background-color: $grey-light-bg;
	}
	
	&.active > .collapse__title img {
		transform: rotate(-180deg);
	}
}

@media screen and (max-width: 550px) {
	.collapse__title {
		font-size: 13px;
	}

	.collapse__icon {
		width: 16px;
		height: 16px;
	}

	.collapse__content {
		font-size: 13px;
	}
}
